<section class="section">
    <div class="page-heading">
        <h3>Inversores</h3>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Identificación</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Capital Invertido</th>
                        <th>Ganancias</th>
                        <th>Total Retiros</th>
                        <th>Total Reinvertido</th>
                        <th>Agregar Capital</th>
                        <th>Restaurar Contraseña</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                        <td><button class="badge bg-success">Agregar Capital</button></td>
                        <td><button class="badge bg-warning">Cambiar contraseña</button></td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                        <td><button class="badge bg-success">Agregar Capital</button></td>
                        <td><button class="badge bg-warning">Cambiar contraseña</button></td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                        <td><button class="badge bg-success">Agregar Capital</button></td>
                        <td><button class="badge bg-warning">Cambiar contraseña</button></td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                        <td><button class="badge bg-success">Agregar Capital</button></td>
                        <td><button class="badge bg-warning">Cambiar contraseña</button></td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                        <td><button class="badge bg-success">Agregar Capital</button></td>
                        <td><button class="badge bg-warning">Cambiar contraseña</button></td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                        <td><button class="badge bg-success">Agregar Capital</button></td>
                        <td><button class="badge bg-warning">Cambiar contraseña</button></td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>

</section>
<script>
    // Simple Datatable
    var table1 = document.querySelector('#table1');
    var dataTable = new simpleDatatables.DataTable(table1);
</script>
