<div class="col-md-6 col-12 offset-md-2">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Crear Inversor</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-vertical">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first-name-vertical">Nombres</label>
                                    <input type="text" id="first-name-vertical" class="form-control" name="Nombres" placeholder="Nombres">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first-name-vertical">Apellidos</label>
                                    <input type="text" id="first-name-vertical" class="form-control" name="Apellidos" placeholder="Apellidos">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first-name-vertical">Identificación</label>
                                    <input type="text" id="first-name-vertical" class="form-control" name="Identificación" placeholder="Identificación">
                                </div>
                            </div>                           
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="contact-info-vertical">Teléfono</label>
                                    <input type="text" id="contact-info-vertical" class="form-control" name="Teléfono" placeholder="Mobile">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-vertical">Email</label>
                                    <input type="email" id="email-id-vertical" class="form-control" name="Email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="contact-info-vertical">Capital Inicial</label>
                                    <input type="text" id="contact-info-vertical" class="form-control" name="capital" placeholder="$0">
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Crear</button>
                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Limpiar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>