<section class="section">
    <div class="page-heading">
        <h3>Historicos</h3>
    </div>
    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col-6 col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body px-3 py-4-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="stats-icon blue">
                                    <i class="iconly-boldProfile"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6 class="text-muted font-semibold">Inversores</h6>
                                <h6 class="font-extrabold mb-0">140</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body px-3 py-4-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="stats-icon blue">
                                    <i class="iconly-boldProfile"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6 class="text-muted font-semibold">Total Inversiones</h6>
                                <h6 class="font-extrabold mb-0">$140.000</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body px-2 py-4-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="stats-icon green">
                                    <i class="iconly-boldAdd-User"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6 class="text-muted font-semibold">Promedio por Inversor</h6>
                                <h6 class="font-extrabold mb-0">$1000</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body px-3 py-4-5">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="stats-icon red">
                                    <i class="iconly-boldBookmark"></i>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h6 class="text-muted font-semibold">Ganancias Retiradas</h6>
                                <h6 class="font-extrabold mb-0">$0</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Historico de Movimientos
        </div>
        <div class="card-body" id="tblHistoricos">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Identificación</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Capital Invertido</th>
                        <th>Ganancias</th>
                        <th>Total Retiros</th>
                        <th>Total Reinvertido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Sarah Barrios</td>
                        <td>845123 </td>
                        <td>noexiste1@mailnoexiste.com</td>
                        <td>3179548216</td>
                        <td>500</td>
                        <td>100</td>
                        <td>0</td>
                        <td>500</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

</section>
