<div class="page-heading">
    <h3>Mis inversiones</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Total invertido</h6>
                                    <h6 class="font-extrabold mb-0" id="totalInvertido"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="iconly-boldAdd-User"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Total Capital</h6>
                                    <h6 class="font-extrabold mb-0" id="totalCapital"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Ganancias Mensual</h6>
                                    <h6 class="font-extrabold mb-0" id="ganancias"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Total Ganancias</h6>
                                    <h6 class="font-extrabold mb-0" id="gananciasAcumuladas"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldProfile"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Total Invertido Acumulado</h6>
                                    <h6 class="font-extrabold mb-0" id="totalInvertidoAcumulado"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="iconly-boldBookmark"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Fecha de Envío</h6>
                                    <h6 class="font-extrabold mb-0" id="fechaPullinicio"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-5">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="{{url_for('static', filename ='assets/images/faces/1.jpg')}}" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold" id="nombreIndicadores"></h5>
                            <h6 class="text-muted mb-0" id="usernameIndicadores"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-3">
                    <div class="d-flex align-items-center">
                        <div class="ms-3 name">
                            <h5 class="font-bold">Retirar Ganancias</h5>
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalGanancia">Retirar $</a>
                            <div class="ms-1 name">
                                <h7 class="font-bold" id="fechaPullGanancia"></h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-3">
                    <div class="d-flex align-items-center">
                        <div class="ms-3 name">
                            <h5 class="font-bold">Retirar Capital</h5>
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalCapitalGanancia">Retirar $</a>
                            <div class="ms-1 name">
                                <h7 class="font-bold" id="fechaIvertida"></h7>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 col-lg-10">
            <div class="card-body py-4 px-3">
                <div class="d-flex align-items-center">
                    <div class="form-check">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input form-check-primary" 
                                name="customCheck" id="reinvertir_ganancias">
                            <h5 class="font-bold">Reinvertir ganancias automaticamente</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inician los modales-->
        <div class="modal fade text-left" id="modalCapitalGanancia" tabindex="-1" aria-labelledby="myModalLabel33"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Retirar Capital</h4>
                        <button  class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="basicInput">Monto a Retirar</label>
                            <input type="text" class="form-control" id="capitalRetiro">
                        </div>
                        <div class="form-group">
                            <label for="basicInput">Método de retiro</label>
                            <select class="form-select" id="capitalMetodoRetiro">
                                <option value="Binance">Binance</option>
                                <option value="Airtm">Airtm</option>
                                <option value="Scrill">Scrill</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="basicInput">Correo electrónico del Método a retirar</label>
                            <input type="email" placeholder="" id="capitalEmailRetiro" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button  class="btn btn-light-secondary" data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Cancelar</span>
                        </button>
                        <button  class="btn btn-primary ml-1" data-bs-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block" id="aceptarCapital">Aceptar</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade text-left" id="modalGanancia" tabindex="-1" aria-labelledby="myModalLabel33"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel33">Retirar Ganancias</h4>
                        <button  class="close" data-bs-dismiss="modal" aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="basicInput">Monto a Retirar</label>
                            <input type="text" class="form-control" id="gananciaRetiro">
                        </div>
                        <div class="form-group">
                            <label for="basicInput">Método de retiro</label>
                            <select class="form-select" id="metodoRetiro">
                                <option value="Binance">Binance</option>
                                <option value="Airtm">Airtm</option>
                                <option value="Scrill">Scrill</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="basicInput">Correo electrónico del Método a retirar</label>
                            <input type="email" placeholder="" class="form-control" id="emailRetiro">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button  class="btn btn-light-secondary" data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Cancelar</span>
                        </button>
                        <button  class="btn btn-primary ml-1" data-bs-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block" id="aceptarganancias">Aceptar</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
        <script src="../static/js/indicadores.js"></script>

    </section>
</div>